.navitem{
    margin-left: 70%;
    color: aqua;
}
.navbar-brand{
    margin-left: 10%;
}
.col{
    /* margin-top:1%; */
    height: 500px;
   
}
.title{
    margin-top: 30%;
    color:rgb(25, 27, 29);
}
img{
    height:550px;
    width:700px;
    margin-left: 10.5%;
  
    
}

.btn1 {
    width: 25%;
   margin-right: 5%;
   margin-top: 3%;
}

.btn2 {
    width: 25%;
   margin-left: 5%;
   margin-top: 3%;
}